.header{
    color: white;
    background-color: royalblue;
    text-align: center;
    font-family: fantasy;
    border-bottom: slategray solid 5px;
    width: 100%;
}
.container-fluid{
    font-family: fantasy;
}
.form-control{
    padding-right: 70px;
}
.btn{
    margin-left: 5px;
}
.recentSearches{
    font-family: fantasy;
}
